<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="UseREST" value="false"/>
		<add key="UseJson" value="false"/>
		<add key="UseIdology" value="true"/>
		<add key="ApplicationProfileId" value="Please contact IP Commerce http://www.ipcommerce.com"/>
		<add key="IdentityToken" value="Please contact IP Commerce http://www.ipcommerce.com"/>
		<add key="CustomerDemoMode" value="true"/>
		<add key="DefaultSaveDirectory" value="C:\CommerceBoardingApplications"/>
		<add key="KeyValueForFileName" value="BusinessName"/>
		<add key="EnvironmentLabel" value="Sandbox Use Only"/>
		<add key="STSUri" value="https://apis.cert.ipcommerce.com:443/SSOAPIs/Rest/SignOnService/TokenCred"/>
		<add key="RESTUri" value="https://boarding.cert.ipcommerce.com/REST/2.0.18/CommerceBoarding"/>

		<!-- Commerce Boarding offers easy connectivity to several external services to help qualify and assess the risk of your users.  As you design your application and determine 
    which services to consume, your Customer Experience Engineer at IP Commerce will provide you with a list of 
    data elements to send to the IP Commerce Platform.  
    
    This sample application will use the 'base' qualification configuration with the addition of Identity Verification.  
    The actual application fields you will need to send to the IP Commerce platform vary based on specific workflow. -->
		<add key="ListOfApplicationFields"
    value="BusinessName|BusinessDBAName|OwnershipType|BusinessType|BusinessUrl|BusinessEstablishmentDate|FedTaxID|BusinessAddress1|BusinessAddress2|BusinessCity|BusinessState|BusinessZip|BusinessPhone|ApplicantFirstName|ApplicantLastName|DateOfBirth|SocialSecurityNumber|HomeAddress1|HomeAddress2|HomeCity|HomeState|HomeZip|HomePhone|ApplicantEmailAddress|IpAddress|EstimatedCreditCardIncome|Aba|Dda"/>

	</appSettings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="CommerceBoarding_ICommerceBoarding" closeTimeout="00:01:00"
				 openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
				 allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
				 maxBufferSize="65536000" maxBufferPoolSize="524288" maxReceivedMessageSize="65536000"
				 messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
				 useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192000" maxArrayLength="16384"
					 maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="None" proxyCredentialType="None"
						 realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="BasicHttpBinding_ITokenCredSignOnService" closeTimeout="00:01:00"
				 openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
				 allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
				 maxBufferSize="65536000" maxBufferPoolSize="524288" maxReceivedMessageSize="65536000"
				 messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
				 useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192000" maxArrayLength="16384"
					 maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="None" proxyCredentialType="None"
						 realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://boarding.cert.ipcommerce.com/2.0.18/CommerceBoarding"
			 binding="basicHttpBinding" bindingConfiguration="CommerceBoarding_ICommerceBoarding"
			 contract="CB.ICommerceBoarding" name="CommerceBoarding_ICommerceBoarding" />
			<endpoint address="https://stsp-02.cert.ipcommerce.com/SSOAPIs/SignOn/TokenCred/basic/SignOnService"
			 binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITokenCredSignOnService"
			 contract="STS.ITokenCredSignOnService" name="BasicHttpBinding_ITokenCredSignOnService" />
		</client>
	</system.serviceModel>
</configuration>
